<div class="container h-full px-6 py-24">
  <div
    class="flex h-full flex-wrap items-center justify-center lg:justify-between">
    <div
      class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
      <img
        src="assets/login-page-img.jpg"
        class="w-full"
        alt="Dog image"/>
    </div>

    <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
      <form [formGroup]="loginForm">
        <p class="text-3xl text-red-950 bg-center">Log in</p>
        <div class="relative mb-6" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer m-0 block h-[58px] w-full rounded border-2 border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-4 text-base font-normal leading-tight text-neutral-950 transition duration-200 ease-linear placeholder:text-transparent focus:border-primary focus:pb-[0.625rem] focus:pt-[1.625rem] focus:text-neutral-700 focus:outline-none peer-focus:text-primary  [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
            id="usernameInput"
            placeholder="your username"
            formControlName="username"/>
          <label
            for="usernameInput"
            class="pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent px-3 py-2 text-neutral-900 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85] motion-reduce:transition-none"
          >username</label
          >
        </div>
        <div class="relative mb-6" data-te-input-wrapper-init>
          <input
            type="password"
            class="peer m-0 block h-[58px] w-full rounded border-2 border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-4 text-base font-normal leading-tight text-neutral-950 transition duration-200 ease-linear placeholder:text-transparent focus:border-primary focus:pb-[0.625rem] focus:pt-[1.625rem] focus:text-neutral-700 focus:outline-none peer-focus:text-primary [&:not(:placeholder-shown)]:pb-[0.625rem] [&:not(:placeholder-shown)]:pt-[1.625rem]"
            id="passwordInput"
            placeholder="your password"
            formControlName="password"
          />
          <label
            for="passwordInput"
            class="pointer-events-none absolute left-0 top-0 origin-[0_0] border border-solid border-transparent px-3 py-2 text-neutral-500 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-y-2 peer-focus:translate-x-[0.15rem] peer-focus:scale-[0.85] peer-focus:text-primary peer-[:not(:placeholder-shown)]:-translate-y-2 peer-[:not(:placeholder-shown)]:translate-x-[0.15rem] peer-[:not(:placeholder-shown)]:scale-[0.85] motion-reduce:transition-none"
          >password</label
          >
        </div>
        <div class="text-center lg:text-left">
          <button
            class="inline-block rounded bg-emerald-800 px-7 pb-2.5 pt-3 text-xl font-medium"
            mat-flat-button
            color="primary"
            [disabled]="loginForm.invalid" (click)="submit()">
            Login
          </button>
          <a class="text-2xl  text-purple-900 px-10 py-5
          text-decoration-line: underline" routerLink="/register">Register</a>
        </div>

      </form>

    </div>
  </div>
</div>
